{% extends "layout.html" %}

{% block bodyclass %}inbox{% endblock %}

{% block body %}

<div class="page-header">
	<h1>Inbox</h1>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default question-list">
			<div class="panel-heading">
				<h3 class="panel-title">Unanswered Questions</h3>
			</div>

			{% if unanswered.length %}
			<div class="list-group">
				{% for question in unanswered %}
				<a href="#" class="list-group-item">
					<span class="question">{{ question.question }}</span>
					<span class="details">Asked {{ question.created.relative() }}</span>
				</a>
				{% endfor %}
			</div>
			{% else %}
			<div class="no-items">You have no unanswered questions.</div>
			{% endif %}
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default question-list">
			<div class="panel-heading">
				<h3 class="panel-title">Answered Questions</h3>
			</div>

			{% if answered.length %}
			<div class="list-group">
				{% for question in answered %}
				<a href="#" class="list-group-item">
					<span class="question">{{ question.question }}</span>
					<span class="details">Asked {{ question.created.relative() }}</span>
				</a>
				{% endfor %}
			</div>
			{% else %}
			<div class="no-items">You have no answered questions.</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}