{% extends "layout.html" %}

{% block bodyclass %}inbox{% endblock %}

{% block body %}

<div class="page-header">
	<h1>Inbox</h1>
</div>

{% if $req.query.success == "1" %}
<div class="alert alert-success">
	<h4>Success!</h4>
	<p>You question has been added. Please give us up to 48 hours to respond. If you need a response ASAP please email us (<a href="mailto: info@beneaththeink.com">info@beneaththeink.com</a>) or call us (303.264.7156).</p>
</div>
{% endif %}

{% set rowSize = 6 %}
{% if $util.permission("admin", user) %}{% set rowSize = 4 %}{% endif %}

{% macro quest(questions, title, onEmpty) %}
	<div class="col-lg-{{ rowSize }}">
		<div class="panel panel-default question-list">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }} Questions</h3>
			</div>
			
			{% if questions.length %}
			<div class="list-group">
				{% for question in questions %}
				<a href="/question/{{ question.shortid }}/{{ question.handle }}" class="list-group-item">
					<span class="question">{{ question.question }}</span>
					<span class="details">{% if question.answered_on %}Answered {{ question.answered_on.relative() }}{% else %}Asked {{ question.created.relative() }}{% endif %}</span>
				</a>
				{% endfor %}
			</div>
			{% else %}
			<div class="no-items">{{ onEmpty }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

<div class="row">
	{% if $util.permission("admin", user) %}
	{{ quest(all, "All Unanswered", "There are no unanswered questions.") }}
	{% endif %}
	{{ quest(unanswered, "Unanswered", "You have no unanswered questions.") }}
	{{ quest(answered, "Answered", "You have no answered questions.") }}
</div>

{% endblock %}