<!DOCTYPE html>

<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title>{% if title %}{{ title }} ~ {% endif %}Beneath the Ink Knowledge Base</title>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/main.css" type="text/css" />

		<script type="text/javascript" src="/scripts/jquery.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body class="{% block bodyclass %}{% endblock %}">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">BTI Knowledge Base</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse">
					<form class="navbar-form navbar-left" role="search" method="get" action="/search">
						<div class="form-group">
							<input type="text" class="form-control search" name="s" placeholder="Search for Knowledge" value="{{ search_term }}" />
						</div>
					</form>
					<ul class="nav navbar-nav pull-right">
						{% if user %}
						<script type="text/javascript">
							$(document).ready(function() {
								$("ul.nav li a[title]").tooltip({
									placement: "bottom",
									container: "body"
								});
							});
						</script>
						<li><a href="/ask" title="Ask Question"><i class="icon icon-plus"></i></a></li>
						<li><a href="/inbox" title="Inbox"><i class="icon icon-inbox"></i></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon icon-user"></i>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu dropdown-icons">
								<li class="detail">Signed in as {{ user.profile.name }}.</li>
								<li class="divider"></li>
								<li><a href="http://go.beneaththeink.com"><i class="icon icon-share-square-o"></i> Go to eBook Enhancer</a></li>
								<li><a href="/signout?u={{ $req.url | urlencode }}"><i class="icon icon-sign-out"></i> Sign Out</a></li>
							</ul>
						</li>
						{% else %}
						<li><a href="/signin{% if $req.path != "/signin" and $req.path != "/" %}?u={{ $req.url | urlencode }}{% endif %}">Sign In</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			{% block body %}{% endblock %}

			<footer>
				<div class="row">
					<div class="col-lg-6 left-side">&copy; {{ Date.create().getFullYear() }} <a href="http://beneaththeink.com">Beneath the Ink</a>. All Rights Reserved. v{{ $app.version }}</div>
					<div class="col-lg-6 right-side"></div>
				</div>
			</footer>
		</div>
	</body>
</html>