body {
	padding-top: 50px;
}

.dropdown-menu {
	overflow: auto;
	max-height: 400px;

	li.detail {
		padding: 3px 15px;
		color: lighten(black, 40%);
		font-size: 12px;
	}
	
	&.dropdown-icons > li > a {
		padding: 3px 15px 3px 10px;

		i {
			display: inline-block;
			width: 20px;
			text-align: center;
			margin: 0 0 0 0;
		}
	}
}

pre {
	overflow: auto;
	word-wrap: normal;

	code {
		white-space: pre;
		word-wrap: normal;
	}
}